body {
  color: gray;
}
form > h1 {
  width: 100%;
  height: 50px;
  margin: auto;
  margin-bottom: 20px;
  color: black;
  font-weight: normal;
}

h1 + p {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
}

h1 + p + p {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

h1 + p + p + p {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

#signup {
  width: 70%;
  height: 40px;
  margin-top: 20px;
  background-color: #00819d;
  color: white;
  border: none;
  cursor: pointer;
}

form > input {
  width: 70%;
  display: block;
  margin: 15px 0px;
  font-size: 15px;
  padding: 2%;
  border: 1px solid gray;
}

label {
  font-weight: bold;
  font-size: 15px;
}

form {
  width: 500px;
  margin: 1% auto;
  padding: 3%;
  background: transparent;
  border-radius: 10px;
}

#termNcondition {
  width: 75%;
  height: 40px;
  text-align: left;
}

#signup + p {
  width: 100%;
  height: 40px;
  margin: auto;
  text-align: center;
}
#box {
  margin-bottom: 50px;
  margin-top: 30px;
}
a:visited {
  color: #00819d;
}
p,
label {
  font: 1rem "Fira Sans", sans-serif;
}
input {
  margin: 0.4rem;
}

#message {
  display: none;
  background: transparent;
  color: #000;
  position: relative;
  /* padding: 20px; */
  /* margin-top: 10px; */
}

#message p {
  padding-left: 35px;
  font-size: 15px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
i{
  margin-right: 15px;
}
